/* PRESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    -webkit-user-select: none;
}

img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}

ul {
    list-style: none;
}

/* SCROLL-BAR STYLE */
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-thumb {border-radius: 5px; background: #384045;}

/* **************************************************************************************************** */

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/desktop.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.whatsapp-box {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 5px 0;
    z-index: 0;
    cursor: pointer;
}

.whatsapp-box p {
    text-align: center;
    font-size: 12px;
    color: white;
}

.whatsapp-box:hover {
    background: #ffffff4d;
}

.w-icon {
    width: 50px;
    padding: 2px 0;
}

.app-window {
    width: 75vw;
    height: 90vh;
    display: flex;
    border-radius: 8px;
    border: 1px solid #6F777A;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;
    background: #202D33;
    transition: 200ms linear;
    z-index: 1;
}

.sidebar {
    width: 330px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #313E45;
    background: #111C22;
}

.main {
    flex-grow: 1;
}

.sidebar-nav {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    background: #212D33;
}

.window-buttons {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0 12px;
}

button {
    display: block;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    font-weight: 900;
    font-size: 6px;
    color: #000000cc;
}

.window-buttons i {
    transition: 200ms linear;
}

.window-buttons i {
    opacity: 0;
}

.window-buttons:hover i {
    opacity: 1;
}

#close {
    background: #FF5F57;
}

#minimize {
    background: #FEBC2E;
}

#expand {
    background: #27C840;
}

.profile-tools {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 18px;
    color: #AEBAC1;
    position: relative;
}

.profile-tools i {
    padding: 12px;
    border-radius: 50%;
    transition: 200ms linear;
}

.profile-tools i:hover {
    background: #374348;
}

.fa-chevron-down {
    font-size: 13px;
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
}

.list-wrapper {
    display: none;
    position: absolute;
    top: 60px;
    left: 120px;
    width: 180px;
    font-size: 15px;
    background: #233238;
}

.list-wrapper li {
    line-height: 40px;
    padding: 0 20px;
}

.list-wrapper li:hover {
    background: #182329;
}

.closed {
    visibility: hidden;
}

.minimized {
    position: absolute;
    bottom: -120px;
    right: -220px;
    transform: scale(0.5);
}

.expanded {
    width: 100vw;
    height: 100vh;
}

.active {
    display: block;
}

.opened {
    visibility: visible;
}

.search-bar {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #222E34;
}

.input-search {
    width: 90%;
    min-height: 35px;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, FontAwesome;
    color: #8697A0;
    background: #202D33;
}   

.input-search:focus-visible {
    outline: none;
}

.contact-wrapper {
    flex-grow: 1;
    overflow: auto;
}

.contact {
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #222E34;
    cursor: pointer;
    color: #E9EDEF;
}

.contact:hover {
    background: #2A3A42;
}

.contact h3 {
    padding: 6px 0;
}

.contact p {
    font-weight: 300;
    color: #8697A0;
}

.img-wrapper {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-right: 18px;
    overflow: hidden;
    border-radius: 50%;
}

.main {
    display: flex;
    flex-direction: column;
}

.main-nav {
    min-height: 60px;
    display: flex;
    background: #212D33;
}

.chat-section {
    flex-grow: 1;
    background-image: url(img/chat_background.png);
    background-size: contain;
    background-position: center;
}

.main-toolbar {
    min-height: 60px;
    display: flex;
    background: #212D33;
}